﻿@model IndexModel

<ul class="nav nav-pills">
    @foreach (var day in Model.DayOffsets)
    {
        <li role="presentation" class="@(Model.CurrentDayOffset == day.Offset ? "active" : null)">
            <a asp-route-day="@day.Offset">@day.DayofWeek?.ToString()</a>
        </li>
    }
</ul>