﻿@model IndexModel
@foreach (var timeSlot in Model.Sessions)
{
    <h4>@timeSlot.Key?.ToString("HH:mm")</h4>
    <div class="row">
        @foreach (var session in timeSlot)
        {
            <div class="col-md-3">
                <div class="panel panel-default session">
                    <div class="panel-body">
                        <p>@session.Track?.Name</p>
                        <h3 class="panel-title"><a asp-page="Session" asp-route-id="@session.ID">@session.Title</a></h3>
                        <p>

                            @foreach (var speaker in session.Speakers)
                            {
                                <em><a asp-page="Speaker" asp-route-id="@speaker.ID">@speaker.Name</a></em>
                            }
                            </p>

                        <form method="post">
                            <input type="hidden" name="sessionId" value="@session.ID" />
                            <p>
                                <a authz-policy="Admin" asp-page="/Admin/EditSession" asp-route-id="@session.ID" class="btn btn-default btn-sm">Edit</a>
                                @if (Model.UserSessions.Contains(session.ID))
                                {
                                    <button authz="true" type="submit" asp-page-handler="Remove" asp-route-day="@Model.CurrentDayOffset" class="btn btn-default btn-sm" title="Remove from my personal agenda">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    </button>
                                }
                                else
                                {
                                    <button authz="true" type="submit" class="btn btn-default btn-sm" title="Add to my personal agenda">
                                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    </button>
                                }
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}