﻿@page "{day:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="agenda">
    <h1> Conference @System.DateTime.Now.Year</h1>
    @if (Model.ShowMessage)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
            @Model.Message
        </div>
    }

    <ul class="nav nav-pills">
        @foreach (var day in Model.DayOffsets)
        {
            <li role="presentation" class="@(Model.CurrentDayOffset == day.Offset ? "active" : null)">
                <a asp-route-day="@day.Offset">@day.DayofWeek?.ToString()</a>
            </li>
        }
    </ul>

    @await  Html.PartialAsync("_SessionList", Model)
</div>