﻿@page
@model MyAgendaModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="agenda">
    <h1>My Agenda @System.DateTime.Now.Year</h1>

    @await Html.PartialAsync("_NavDayPartial", Model)

    @await Html.PartialAsync("_SessionList", Model)
</div>